@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:cornflowerblue;text-align:center">

    
        <h1>LISTADO DE ALUMNOS</h1>
        <h2>ISFT N° 172</h2>
        <p><a href="https://instituto172.wixsite.com/instituto172" class="btn btn-success btn-lg">Link del Instituto &raquo;</a></p>
   </div>
<hr />

<!--<div class="jumbotron" style="background-color:cornflowerblue; text-align:center">-->

@*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
@*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
<!--</div>-->
<hr />

<center>
    @*<div class="row">

        <div class="col-md-4">*@

    <h2>Alumnos</h2>

    <a href="@Url.Action("Index","DATOS_ALUMNOS_172")" class="btn" style="background-color:black;color:white;font-size:large"> Ir a Alumnos</a>
    @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@

    @*</div>*@

    @*</div>*@
</center>